body {
    background: #080812
}
#content {
    display:flex;
    flex-direction: row;
    background: #080812
}
#banner {
    order: 1;
    width: 280px;
    height: 100vh;
    background: rgba(250,50,25,0.5);
    display: flex;
    flex-direction: column;
}
#banner img {
    width: 200px;
    height: 200px;
    margin: 50px auto 0px auto;
    border-radius: 10px;
    z-index: 2;
}
#banner h3 {
    margin: 10px auto 0px auto;
    background: #8e342d;
    border-radius: 10px;
    padding: 2px 20px 2px 20px;
    color: white;
}
#banner h5 {
    margin: 10px auto 0px 40px;
    background: #8e342d;
    border-radius: 10px;
    padding: 2px 20px;
    color: white;
}
#bio {
    background: #8e342d;
    margin: 10px auto 0px 40px;
    border-radius: 10px;
}
#bio h5 {
    font-family: monospace;
    background: transparent;
    font-size: 1em;
    margin: 2px;
    padding: 2px 5px;
}
