body {
    background: #080812
}
#content {
    display:flex;
    flex-direction: row;
    background: #080812
}
#banner {
    order: 1;
    width: 280px;
    height: 96vh;
    background: rgba(250,50,25,0.5);
    display: flex;
    flex-direction: column;
}
#banner img {
    width: 200px;
    height: 200px;
    margin: 50px auto 0px auto;
    border-radius: 10px;
    z-index: 2;
}
#banner h3 {
    margin: 10px auto 0px auto;
    background: #8e342d;
    border-radius: 10px;
    padding: 2px 20px 2px 20px;
    color: white;
}
#banner h5 {
    margin: 0px;
    color: white;
}
#kanji-name {
    display: flex;
    background: #aaaacc;
    box-shadow: 0px 0px 10px -3px black;
    border-radius: 10px;
    color: white;
    padding: 2px 20px;
    margin: 10px auto 0px 40px;
}
#flag {
    margin: auto 0px auto 0px;
    padding: 0px 0px 0px 10px;
}
#bio {
    background: #8e342d;
    margin: 10px auto 0px 40px;
    border-radius: 10px;
    width: 200px;
}
#bio h5 {
    font-family: monospace;
    background: transparent;
    box-shadow: 0px 0px 0px 0px black;
    font-size: 1em;
    margin: 2px;
    padding: 2px 5px;
}
.context {
    background: rgba(255,255,255,0.1);
    padding: 0px 5px;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    user-select: none;
    cursor: pointer;
}
.context-content {
    display: none;
    position: absolute;
    background: #dfdfff;
    color: #070718;
    z-index: 1;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 25px -10px black;
    width: 20em;
    top: 100%;
    left: 0%;
}
.context:hover > .context-content {
    display: block;
}
.context-content:hover {
    display: none !important;
}
@media (max-width: 768px) {
    .context:active > .context-content {
        display: block;
    }
    .context-content:active {
        display: none !important;
    }
}



.error {
    background: #6a0000;
    border: 1px solid red;
    border-radius: 0px;
    color: red;
}

.levelBar {
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
    margin: 10px 0px;
}
#platonic p {
    background: #aaffaa;
    border-radius: 10px;
    width: 220px;
    padding: 0px 5px;
}
#romantic p {
    background: transparent;
    border-radius: 10px;
    width: 230px;
    padding: 0px 5px;
}
