@import "./util/button.css";


.content {
    padding: 20px;
    -mox-box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    max-width: cover;
    margin-left: auto;
    margin-right: auto;
}
.content h1 {
    font-size: 2em;
    /*text-align: center;*/
    border-radius: 0em 0.5em 0.5em 0em;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22em, 1.5fr));
    grid-auto-rows: 0.5fr;
    grid-gap: 2em;
    justify-content: center;
}
.Page1 {
    background-color: #080817;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
    padding: 1em;
    margin-bottom: -200px;
    min-height: 300px;
}
.Page1 p {
    background-color: rgba(255,255,255,0.02);
    border-radius: 0px 10px 10px 0px;
    padding: 1em;
    border-left: 3px solid grey;

}
.Page1 h3 {
    font-size: 20px;
    padding: 0px 0px 10px 10px;
    border-bottom: 1px solid grey;
}
.mypage {
    background-color: rgba(255,255,255,0.02);
    border-radius: 10px;
    padding: 1em;
}
.Page2 {
    background-color: rgba(255,255,255,0.02);
    border-radius: 1em;
    padding: 1em;
    max-width: 250px;
    border: 1px solid grey;
    backdrop-filter: blur(25px);
}
.Page3 {
    background-color: #080817;
    border-radius: 1em;
    padding: 1em;
    margin: 0em 5em;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.6); 
}
