@import '/util/profilecard.css';


#content {
    padding: 20px;
    -mox-box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    max-width: cover;
    margin-left: auto;
    margin-right: auto;
}


#title {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2)
}
#title h1 {
    font-size: 2em;
    border-bottom: 4px solid coral;
}
#main-content {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 2em;
    justify-content: start;
}

#pfcard {
    max-width: 375px;
    background: linear-gradient(315deg, transparent 10px, rgba(0,0,0,0.05) 0);
    margin-bottom: 10px;
}
#pfcard p {
    padding: 1em;
    border-left: 20px solid coral;

}
#pfcard h3 {
    font-size: 20px;
    padding: 0px 0px 10px 10px;
    border-bottom: 1px solid grey;
}


/* MEMBER STYLING */

#member {
    background-color: rgba(255,255,255,0.02);
    padding: 1em;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}
#member .title {
    display: flex;
    flex-direction: row;
}
#member .title .hazardtape-yellow {
    width: 90px;
    height: 25px;
    margin-top: auto;
    margin-bottom: auto;
}
#member .title h3 {
    background: brown;
    color: white;
    padding: 0 10px 0 10px;
    margin-left: -13px
}


#katsuro { grid-area: katsuro; }
#atherionfi { grid-area: atherionfi; }
#rlakhdan { grid-area: rlakhdan; }
#peco { grid-area: peco; }
#rlabdi { grid-area: rlabdi; }
#emptypf { grid-area: emptypf; }
.profilecard {
    width: 350px;
    margin-bottom: 30px;
}
#member-list img {
    margin-left: 20px;
    border-left: 4px solid brown;
    width: 100px;
    height: 100px;
}
#member-list .info {
    font-size: 0.8em;
    color: rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

/* MEMBER DESCRIPTION */



.Page3 {
    padding: 1em;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    margin-top: 20px;
    min-width: auto;
}

.hazardtape {
    height: 25px;
    width: 110px;
    margin-top: auto;
    margin-bottom: auto;
}

@media(max-width: 768px) {
    #main-content {
        grid-template-columns: auto;
    }
    .hazardtape {
        width: 50px;
        height: 80px;
        margin-top: auto;
        margin-bottom: auto;
    }
    .profilecard {
        width: 300px;
        margin-bottom: 30px;
    }
    #member-list img {
        margin: 20px 0px 0px 20px;
        border-left: 4px solid brown;
        width: 80px;
        height: 80px;
    }
}

