.button {
  background-color: #59a2ae;   
  color: white;
  padding: 15px 32px;
  text-decoration: none; 
  display: inline-block; /* Make the button inline with other elements */
  font-size: 16px; 
  margin: 4px 2px;
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 8px; 
  transition: background-color 0.3s;/* Smooth background color transition */
  min-width: 180px;
}

.button:hover {
  background-color: #81623c; /* Darker green on hover */
  border-left: 10px solid coral;
}
