
/* Core */

* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    font-family: sans;
    background-color: var(--back);
    color: var(--fore);
}
button {
    background-color: transparent;
    border: 0px;
} button:hover {
    background-color: transparent;
}
a {
    color: var(--fore);
    text-decoration: none;
}

/* BASE */

#content {
    flex: 1;
}

/* : Sidebar : */
#sidebar {
    position: fixed;
    background-color: var(--tone1);
    z-index: 1000;
    height: 100vw;
    width: 230px;
    margin-left: 0px;
    transition: margin-left 0.5s
} #sidebar.hidden {
    margin-left: -230px;
}

@media(max-width: 768px) {
    #sidebar {
        height: 100%
    }    
}
@media(min-width: 1256px) {
    #toggleSideBar.sidebar {
        display: none !important;
    }
}

/* : Sidebar Button */
#toggleSideBar {
    height: 30px;
    width: 30px;
    background-image: url(/Assets/menu-dark.svg);
    background-size: cover;
    margin: 5px 5px;
} #toggleSideBar.sidebar {
    background-image: url(/Assets/close-arrow.svg);
}
/* : PseudoSideBar : */
#pseudoSideBar {
    display: block;
    min-width: 230px;
    transition: margin-left 0.5s
} #pseudoSideBar.hidden {
    margin-left: -230px;
}
/* : Mobile Content Cover : */
#cover {
    background-color: #00000050;
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    z-index: 999;
    transition: background-color 0.5s
} #cover.hidden {
    background-color: #00000000;
}

@media(min-width:1024px) {
    #cover {
        display: none !important;
    }
}
@media(max-width:1256px) {
    #pseudoSideBar {
        display: none !important;
    }
}


/* TopBar*/
#topbarbox {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 40px;
    z-index: 900;
}

#pseudoTopBar {
    display: block;
    width: 230px;
    transition: margin-left 0.5s
} #pseudoTopBar.hidden {
    margin-left: -230px;
}

#topbar .titlebar {
    display: flex;
}
#topbar .titlebar p {
    font-size: 20px;
    font-weight: bold;
    margin: auto 20px;
}
@media(max-width:1024px) {
    #pseudoTopBar {
        display: none !important;
    }
}

#themeswitchbox {
    display: flex;
    margin-bottom: 10px;
}
#themeswitch {
    display: none;
}
#themeswitchbox p {
    margin: auto 0px;
    font-size: 12px;
    font-weight: bold;
}

/* Switch container */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  margin: 5px;
}

/* Slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--tone3);
  transition: 0.4s;
  border-radius: 25px;
}

/* Slider circle */
.slider::before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* Checked state */
#themeswitch:checked + .slider {
  background-color: var(--tone5);
}
#themeswitch:checked + .slider::before {
  background-color: var(--fore);
}

#themeswitch:checked + .slider::before {
  transform: translateX(24px);
}
#webportal {
    background-color: var(--tone2);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}



/*Dark Theme Patcher*/

body.darktheme #toggleSideBar {
    background-image: url(/Assets/menu-dark.svg);
}
body.darktheme #toggleSideBar.sidebar {
    background-image: url(/Assets/close-arrow-dark.svg);
}








